<h1>Hola, {{user.nombre}}</h1>


{{#each products}}
<div>
    <p>{{this.title}}</p>
    <p>{{this.nombre}}</p>
    <p>{{this.dia}}</p>
</div>
{{/each}}


<!--{{#if isTutor}}
<p>Sos tutor</p>
{{#each cursos}}
<div>
    <p>{{this.numero}}</p>
    <p>{{this.nombre}}</p>
    <p>{{this.dia}}</p>
</div>
{{/each}}
{{else}}
<p>No sos tutor</p>
{{/if}}-->