<h1>{{title}}</h1>
<h1>{{description}}</h1>
<h1>{{price}}</h1>
<h1>{{code}}</h1>
<h1>{{stock}}</h1>

<script>
    // Agrega un console.log() en el lado del cliente
    console.log('Productos:', title);
</script>