<script>
    function deleteUser(id) {
        fetch(`/users/${id}`, {
            method: 'DELETE',
        }).then(response => {
            if (response.ok) {
                document.getElementById(`user-${id}`).remove()
                // Manejar la respuesta exitosa aquí (si es necesario)
                console.log('DELETE FUNCIONANDO');
            } else {
                // Manejar errores aquí (por ejemplo, mostrar un mensaje de error)
                console.error('Error en la solicitud DELETE:', response.status);
            }
        }).catch(error => {
            console.error('Error en la solicitud DELETE:', error);
        });
    }
</script>

<button onclick="location.href='/sessions/logout'">Cerrar sesión</button>
<button onclick="location.href='/product/realtimeproductsAdmin'">Ir a productos</button>
<hr>

<h2>Usuarios:</h2>

<div>
    {{#each users}}
    <div class="cuadradoUsers" id="user-{{this._id}}">
        <h3 class="card-title">Nombre y Apellido: {{this.nombre}} {{this.apellido}}</h3>
        <h4 class="card-title">Email: {{this.email}}</h4>
        <h5 class="card-title">Rol: {{this.rol}}</h5>
        <h5 class="card-title">Última conexión: {{this.last_connection}}</h5>

        {{#if this.inactiveUser}}
        <button class="btn" onclick="deleteUser('{{this._id}}')">Eliminar Usuario</button>
        {{/if}}

    </div>

    {{/each}}
</div>



</div>

{{#if this.inactiveUser}}
{{/if}}